In [1]:
# Import dependencies.
import pandas as pd

In [4]:
# Read data into a DataFrame.
clean_df = pd.read_csv('Resources/cleaned_best_seller_code.csv')
clean_df.head()

,Unnamed: 0,published_date,book_type,rank,title,author,description,price,weeks_on_list
0,0,2010-01-03,chapter_books,1,WITCH AND WIZARD,James Patterson and Gabrielle Charbonnet,"One of each, brother and sister, flex their ne...",17.99,1
1,1,2010-01-03,chapter_books,2,THE HUNGER GAMES,Suzanne Collins,"In a dystopian future, a girl fights for survi...",17.99,67
2,2,2010-01-03,chapter_books,3,CATCHING FIRE,Suzanne Collins,"The protagonist of ""The Hunger Games"" returns.",17.99,16
3,3,2010-01-03,chapter_books,4,THE MAGICIAN’S ELEPHANT,Kate DiCamillo,An orphan in search of his sister follows a fo...,16.99,15
4,4,2010-01-03,chapter_books,5,FALLEN,Lauren Kate,"Thwarted love among misfits at a Savannah, Ga....",17.99,2

In [5]:
# Inspect the data.
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51997 entries, 0 to 51996
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51997 non-null  int64
 1   published_date  51997 non-null  object
 2   book_type       51997 non-null  object
 3   rank            51997 non-null  int64
 4   title           51997 non-null  object
 5   author          51997 non-null  object
 6   description     51997 non-null  object
 7   price           51997 non-null  float64
 8   weeks_on_list   51997 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.6+ MB

In [7]:
# Column names.
clean_df.columns

Index(['Unnamed: 0', 'published_date', 'book_type', 'rank', 'title', 'author',
       'description', 'price', 'weeks_on_list'],
      dtype='object')

In [8]:
# Create the authors_df.
authors_df = clean_df.drop(['Unnamed: 0', 'published_date', 'book_type', 'rank',
       'description', 'price', 'weeks_on_list'], axis=1)
authors_df.head()

                     title                                    author
0         WITCH AND WIZARD  James Patterson and Gabrielle Charbonnet
1         THE HUNGER GAMES                           Suzanne Collins
2            CATCHING FIRE                           Suzanne Collins
3  THE MAGICIAN’S ELEPHANT                            Kate DiCamillo
4                   FALLEN                               Lauren Kate

In [10]:
# Export the authors_df as a CSV file.
authors_df.to_csv("Resources/authors.csv", encoding='utf8', index=False)

In [11]:
# Create the booktype_df.
booktype_df = clean_df.drop(['Unnamed: 0', 'published_date', 'author', 'rank',
       'description', 'price', 'weeks_on_list'], axis=1)
booktype_df.head()

       book_type                    title
0  chapter_books         WITCH AND WIZARD
1  chapter_books         THE HUNGER GAMES
2  chapter_books            CATCHING FIRE
3  chapter_books  THE MAGICIAN’S ELEPHANT
4  chapter_books                   FALLEN

In [12]:
# Export the booktype_df as a CSV file.
booktype_df.to_csv("Resources/booktype.csv", encoding='utf8', index=False)

In [15]:
# Create the ranking_df.
ranking_df = clean_df.drop(['Unnamed: 0', 'published_date', 'book_type',
       'description', 'price'], axis=1)
ranking_df.head()

,rank,title,author,weeks_on_list
0,1,WITCH AND WIZARD,James Patterson and Gabrielle Charbonnet,1
1,2,THE HUNGER GAMES,Suzanne Collins,67
2,3,CATCHING FIRE,Suzanne Collins,16
3,4,THE MAGICIAN’S ELEPHANT,Kate DiCamillo,15
4,5,FALLEN,Lauren Kate,2

In [16]:
# Export the booktype_df as a CSV file.
ranking_df.to_csv("Resources/ranking.csv", encoding='utf8', index=False)